<div class="container">
  <div class="row">
    <div class="margin-botton col-md-6 col-md-offset-3 text-center">
      <h1 class="about-h1">Karen Burton</h1>
      <img src="/assets/Karen.jpg" alt="Karen" class="Karen"><br/>
      <a href="http://instagram.com/seaofmakeup"><i class="fa fa-instagram fa-3x"></i></a>
      <p class="about-p">
        <span>I am a makeup enthusiast</span><br/>
        <span>I love being a creative person</span><br/>
        <span>Join my fun and follow me</span>
      </p>
    </div>
  </div>
</div>
