<div class="row">
  <div class="col-md-4">
    <h1>
      <iframe class="tube" src="//www.youtube.com/embed/s_kLj-ITXq8" frameborder="0" allowfullscreen></iframe>
    </h1>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <h1 class="about-h1">Karen</h1>
    <img src="/assets/Karen.jpg" alt="Karen" class="Karen-2"><br/>
    <p class="about-p">
      <span>I am a makeup enthusiast</span><br/>
      <span>I love being a creative person</span><br/>
      <span>Join my fun and follow me</span>
    </p>
  </div>
</div>

<hr />
<h3 class="h3-contact">
  If you would like to follow me please go to <a href="http://instagram.com/seaofmakeup"><img src="/assets/instagram.png", class="instagram"></a>
  or follow my videos on <a href="https://www.youtube.com/channel/UCNcxrY67tVCnHpDX9Pt-L7Q"><img src="/assets/youtube.png", class="youtube"></a>.
</h3>
