<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="youtube">
      <iframe width="560" height="315" src="//www.youtube.com/embed/s_kLj-ITXq8" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="contact-info">
            <h3>
              If you would like to follow me please go to <a href="http://instagram.com/seaofmakeup"><i class="fa fa-instagram fa-2x"></i></a>
              or follow my videos on <a href="https://www.youtube.com/channel/UCNcxrY67tVCnHpDX9Pt-L7Q"><i class="fa fa-youtube fa-2x"></i></a>.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
