<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.text_field :title, class: 'form-control text-title', required: true %>
  </div>
  <div data-no-turbolink>
    <%= f.cktext_area :body, :ckeditor => {:uiColor => '#3333FF'} %>
  </div>

  <%= f.submit 'Update', class: 'btn btn-default' %>
<% end %>
