<div class="givemespace">
  <div class="row">
    <div class="form-container">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="Post-space">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="post-title">
                <h2><%= @post.title %></h2>
              </div>
            </div>
            <div class="panel-body">
              <p><%= raw(@post.body) %></p>
            </div>
            <div class="panel-footer">
              <%= link_to "Back", posts_path, class: 'btn btn-default' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Karen-info">
      <div class="col-xs-6 col-md-4">
        <img src="/assets/Karen.jpg" alt="Karen" class="Karen-2"><br/>
        <p class="about-p">
          <span>I am a makeup enthusiast</span><br/>
          <span>I love being a creative person</span><br/>
          <span>Join my fun and follow me</span>
        </p>
        <div class="links">
          <a href="http://instagram.com/seaofmakeup"><img src="/assets/instagram.png", class="instagram"></a>
          <a href="https://www.youtube.com/channel/UCNcxrY67tVCnHpDX9Pt-L7Q"><img src="/assets/youtube.png", class="youtube"></a>
        </div>
      </div>
    </div>
  </div>
</div>
