<div class="givemespace">
  <div class="row">
    <div class="form-container">
      <div class="col-xs-1 col-sm-1">
      <div class="shareit">
        <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <a href="https://www.pinterest.com/pin/create/button/?url=http://seaofmakeup.com/assets/Seaofmakeup.png" data-pin-do="buttonPin" data-pin-config="above">
              <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
            </a><br/>
            <div class="fb-like" data-href="http://seaofmakeup.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-11 col-sm-7">
        <div class="Post-space">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="post-title">
                <h2><%= @post.title %></h2>
              </div>
            </div>
            <div class="panel-body">
              <p><%= raw(@post.body) %>
                <span class="xc_pin" onclick="pin_this(event, 'http://pinterest.com/pin/create/button/?url=http://seaofmakeup.com/&amp;media=http://seaofmakeup.com')"></span>
              </p>
            </div>
            <div class="panel-footer">
              <%= link_to "Back", posts_path, class: 'btn btn-default' %>
            </div>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'seaofmakeu'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
        </div>
      </div>
    <div class="Karen-info">
      <div class="col-xs-6 col-sm-4">
        <img src="/assets/Karen.jpg" alt="Karen" class="Karen-2"><br/>
          <p class="about-p">
            <span>I am a makeup enthusiast</span><br/>
            <span>I love being a creative person</span><br/>
            <span>Join my fun and follow me</span>
          </p>
          <div class="links">
            <a href="http://instagram.com/seaofmakeup"><img src="/assets/instagram.png", class="instagram"></a>
            <a href="https://www.youtube.com/channel/UCNcxrY67tVCnHpDX9Pt-L7Q"><img src="/assets/youtube.png", class="youtube"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
