<div class=row>
  <div class="col-md-4">
    <h1 class="soon">
      Who am I?
    </h1>
    <p class="FAQ-P">
      My name is Karen or better known as Seaofmakeup.
    </p>
    <h1 class="soon">
      What I want to blog about?
    </h1>
    <p class="FAQ-P">
      Basically anything about makeup products,
      beauty and my experiences of the products I've used.
    </p>
    <h1 class="soon">
      If I could be anywhere where would I be
    </h1>
    <ul class="FAQ-P">
      <li>IMATS</li>
      <li>Saphora</li>
      <li>Mac</li>
      <li>Nordstrom</li>
    </ul>
  </div>
  <div class="col-md-4">
    <img src="/assets/love-makeup.png">
  </div>
  <div class="col-md-4">
    <h1 class="products">
      My favorite porducts
    </h1>
    <ul class="FAQ-P">
      <li>Blush</li>
      <li>Eye shadow</li>
      <li>Lipstick</li>
      <li>GLITTER!!!!</li>
    </ul>
  </div>
</div>
