<div class=row>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <h1 class="soon">
      Soon to come :D <span><br/>
      Please follow me on <a href="http://instagram.com/seaofmakeup"><img src="/assets/instagram.png", class="instagram"></a>
    </h1>
  </div>
</div>
