<div class=row>
  <div class="col-md-4">
    <h1 class="soon">
      Who am I?
    </h1>
    <p class="FAQ-P">
      My name is Karen or better known as Seaofmakeup.
    </p>
    <h1 class="soon">
      What I want to blog about?
    </h1>
    <p class="FAQ-P">
      Basically anything about makeup products,
      beauty and my experiences of the products I've used.
    </p>

  </div>
  <div class="col-md-4">
    <iframe src="http://snapwidget.com/sc/?u=c2Vhb2ZtYWtldXB8aW58MTUwfDN8M3x8bm98NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=070215" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:400px; height:150px"></iframe>
  </div>
  <div class="col-md-4">
    <h1 class="soon">
      If I could be anywhere where would I be at
    </h1>
    <ul class="FAQ-P">
      <ul>IMATS</ul>
      <ul>Sephora</ul>
      <ul>Mac</ul>
      <ul>Nordstrom</ul>
    </ul>
    <h1 class="products">
      My favorite porducts
    </h1>
    <ul class="FAQ-P">
      <ul>Blush</ul>
      <ul>Eye shadow</ul>
      <ul>Lipstick</ul>
      <ul>GLITTER!!!!</ul>
    </ul>
  </div>
</div>
