//Sessions_new//
.form-container {
  margin:auto;
  max-width: 40%;
  .panel-heading {
    text-align:center;
  }
}

.panel-default > .login > .panel-heading {
  color: #333;
  background-color: whitesmoke;
  border-color: #ddd
}

//
