// Place all the styles related to the FAQ controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.FAQ-P {
  // font-family: 'Dancing Script', cursive;
  font-size:1.5em;
  padding-left: 25px;
}

.products {
  font-family: 'Dancing Script', cursive;
}

@media screen and (max-width: 600px) {
  .faq-instagram {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
