// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  padding-bottom: 10px;
  margin: auto auto auto 2px;
}

.new {
  margin-left: 5px;
}

.text-title {
  max-width: 500px;
}

.text-body {
  max-width: 800px;
  height: 800px;
}

.Karen {
  max-width: 250px;
  max-height: 250px;
  padding-bottom: 10px;
}

.Karen-2 {
  max-width: 250px;
  max-height: 250px;
  padding-bottom: 10px;
  padding-left:90px;
}

.about-p {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  margin-left:90px;
}

.links {
  margin-left:90px;
}

.about-h1 {
  font-family: 'Dancing Script', cursive;
  margin-left:90px;
}

.instagram {
  height: 40px;
}

.youtube {
  height: 50px;
}

.Post-space {
  padding-left: 30px;
}

.givemespace {
  padding-top: 15px;
}

.post-title{
  font-family: 'Dancing Script', cursive;
}
