// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts {
  padding-bottom:10px;
}

.new {
  margin-left: 5px;
}

.text-title {
  max-width: 500px;
}

.text-body {
  max-width: 800px;
  height: 800px;
}

.Karen {
  max-width: 250px;
  max-height: 250px;
  padding-bottom: 10px;
}

.Karen-2 {
  max-width: 250px;
  max-height: 250px;
}

.about-p {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  // margin-left:90px;
}

.about-h1 {
  font-family: 'Dancing Script', cursive;
  margin-left:90px;
}

.instagram {
  height: 40px;
}

.youtube {
  height: 50px;
}

.givemespace {
  padding-top: 15px;
}

.post-title{
  font-family: 'Dancing Script', cursive;
}

img {
  max-width: 100%;
  max-height:100%;
}

.shareit {
  padding-left: 10px;
  position: fixed;
  padding-top: 200px;
}

.fb-like {
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .shareit {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .padding-instagram {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .Karen-info {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
