.Karen {
  max-width: 150px;
  max-height: 250px;
  padding-bottom: 10px;
}

.about-p {
  font-size: 1.25em;
}

.about-h1 {
  font-family: 'Dancing Script', cursive;
}

.fa-instagram {
  color: #48649F;
}

// .fa-youtube {
//   color: #FE2E2E;
// }

.fa-3x:hover, .fa-3x:focus {
  color: black;
  background-color: white;
}

.youtube {
  padding-left:33px;
}

.contact-info {
  font-size:22px;
  font-family: 'Dancing Script', cursive;
}
