.contact-info {
  font-size:22px;
  font-family: 'Dancing Script', cursive;
}

.center {
  text-align:center;
}

.h3-contact {
  margin-left:15px;
  font-family: 'Dancing Script', cursive;
}


.videowrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
