.Karen {
  max-width: 350px;
  max-height: 450px;
  padding-bottom: 10px;
}

.about-p {
  font-size: 1.25em;
}

.about-h1 {
  font-family: 'Dancing Script', cursive;
}

.fa-instagram {
  color: #48649F;
}

.fa-3x:hover, .fa-3x:focus {
  color: black;
  background-color: white;
}
